{% extents 'base.html' %}
{% block body %}
<div class="col-md-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 loginbox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                Oh no!
            </div>
            <div style="padding-top: 30px" class="panel-body">
                There was   problem activation your account, Plase contact at <a href="mailto:kravikiran@ssdi.sharp.co.in">kravikiran@ssdi.sharp.co.in</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}

